**Regras de associação**

**Algoritmo Apriori**

**Veja: https://www.youtube.com/watch?v=0v6PiOpsJi8**

In [1]:
!pip install apyori

Requirement already satisfied: apyori in c:\users\rafae\anaconda3\lib\site-packages (1.1.2)

In [2]:
import pandas as pd
from apyori import apriori

In [3]:
#encoding = "cp1252", encoding='utf-8', encoding='latin1'etc
base= pd.read_csv('MercadoSim.csv', ';', encoding='cp1252', header=None)
#base= pd.read_csv('/content/sample_data/pasta de dente python SIM e NÃO.csv', ';', encoding='cp1252')
#base= pd.read_csv('/content/sample_data/pasta de dente python SIM.csv', ';', encoding='cp1252',header=None)
base

C:\Users\rafae\AppData\Local\Temp\ipykernel_16136\285961118.py:2: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  base= pd.read_csv('MercadoSim.csv', ';', encoding='cp1252', header=None)

       0     1        2    3         4      5       6
0    NaN  Cafe      NaN  Pao  Manteiga    NaN     NaN
1  Leite   NaN  Cerveja  Pao  Manteiga    NaN     NaN
2    NaN  Cafe      NaN  Pao  Manteiga    NaN     NaN
3  Leite  Cafe      NaN  Pao  Manteiga    NaN     NaN
4    NaN   NaN  Cerveja  NaN       NaN    NaN     NaN
5    NaN   NaN      NaN  NaN  Manteiga    NaN     NaN
6    NaN   NaN      NaN  Pao       NaN    NaN     NaN
7    NaN   NaN      NaN  NaN       NaN    NaN  Feijao
8    NaN   NaN      NaN  NaN       NaN  Arroz  Feijao
9    NaN   NaN      NaN  NaN       NaN  Arroz     NaN

In [4]:
base.shape

(10, 7)

**O código a seguir altera a base de dados para colocar as ausências dos produtos**

In [5]:
#for column in base:
#     base[column]=base[column].fillna('~' + column)

In [6]:
#base

In [7]:
#base.shape

**Como estaremos treinando um modelo a priori, que recebe entradas em formato de lista, precisamos transformar o dataframe em uma lista de transações.**

In [8]:
transacoes = []
for i in range(len(base)):
  #print(i)
  #print(base_mercado1.values[i, 0])
  transacoes.append([str(base.values[i, j]) for j in range(base.shape[1])])

In [9]:
transacoes

[['nan', 'Cafe', 'nan', 'Pao', 'Manteiga', 'nan', 'nan'],
 ['Leite', 'nan', 'Cerveja', 'Pao', 'Manteiga', 'nan', 'nan'],
 ['nan', 'Cafe', 'nan', 'Pao', 'Manteiga', 'nan', 'nan'],
 ['Leite', 'Cafe', 'nan', 'Pao', 'Manteiga', 'nan', 'nan'],
 ['nan', 'nan', 'Cerveja', 'nan', 'nan', 'nan', 'nan'],
 ['nan', 'nan', 'nan', 'nan', 'Manteiga', 'nan', 'nan'],
 ['nan', 'nan', 'nan', 'Pao', 'nan', 'nan', 'nan'],
 ['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'Feijao'],
 ['nan', 'nan', 'nan', 'nan', 'nan', 'Arroz', 'Feijao'],
 ['nan', 'nan', 'nan', 'nan', 'nan', 'Arroz', 'nan']]

In [10]:
type(transacoes)

list

**Vamos chamar executar o algoritmo apriori e armazenar as regras obtidas**

In [11]:
regras = apriori(transacoes, min_support = 0.3, min_confidence = 0.7)
saida = list(regras) 
print(len(saida))
print(saida)

12
[RelationRecord(items=frozenset({'nan'}), support=1.0, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0)]), RelationRecord(items=frozenset({'Cafe', 'Manteiga'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cafe'}), items_add=frozenset({'Manteiga'}), confidence=1.0, lift=2.0)]), RelationRecord(items=frozenset({'Cafe', 'Pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cafe'}), items_add=frozenset({'Pao'}), confidence=1.0, lift=2.0)]), RelationRecord(items=frozenset({'Cafe', 'nan'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cafe'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0)]), RelationRecord(items=frozenset({'Manteiga', 'Pao'}), support=0.4, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Manteiga'}), items_add=frozenset({'Pao'}), confidence=0.8, lift=1.6), OrderedStatistic(items_base=frozenset({'Pao'}), items_add=frozenset({'Manteiga'}), confidence=0.8, lift=1.6)]), RelationRecord(items=frozenset({'Manteiga', 'nan'}), support=0.5, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Manteiga'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0)]), RelationRecord(items=frozenset({'Pao', 'nan'}), support=0.5, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Pao'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0)]), RelationRecord(items=frozenset({'Cafe', 'Manteiga', 'Pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cafe'}), items_add=frozenset({'Manteiga', 'Pao'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'Cafe', 'Manteiga'}), items_add=frozenset({'Pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'Cafe', 'Pao'}), items_add=frozenset({'Manteiga'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'Manteiga', 'Pao'}), items_add=frozenset({'Cafe'}), confidence=0.7499999999999999, lift=2.4999999999999996)]), RelationRecord(items=frozenset({'Cafe', 'Manteiga', 'nan'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cafe'}), items_add=frozenset({'Manteiga', 'nan'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'Cafe', 'Manteiga'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'Cafe', 'nan'}), items_add=frozenset({'Manteiga'}), confidence=1.0, lift=2.0)]), RelationRecord(items=frozenset({'Cafe', 'Pao', 'nan'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cafe'}), items_add=frozenset({'Pao', 'nan'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'Cafe', 'Pao'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'Cafe', 'nan'}), items_add=frozenset({'Pao'}), confidence=1.0, lift=2.0)]), RelationRecord(items=frozenset({'Manteiga', 'Pao', 'nan'}), support=0.4, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Manteiga'}), items_add=frozenset({'Pao', 'nan'}), confidence=0.8, lift=1.6), OrderedStatistic(items_base=frozenset({'Pao'}), items_add=frozenset({'Manteiga', 'nan'}), confidence=0.8, lift=1.6), OrderedStatistic(items_base=frozenset({'Manteiga', 'Pao'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'Manteiga', 'nan'}), items_add=frozenset({'Pao'}), confidence=0.8, lift=1.6), OrderedStatistic(items_base=frozenset({'Pao', 'nan'}), items_add=frozenset({'Manteiga'}), confidence=0.8, lift=1.6)]), RelationRecord(items=frozenset({'Cafe', 'Manteiga', 'Pao', 'nan'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cafe'}), items_add=frozenset({'Manteiga', 'Pao', 'nan'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'Cafe', 'Manteiga'}), items_add=frozenset({'Pao', 'nan'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'Cafe', 'Pao'}), items_add=frozenset({'Manteiga', 'nan'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'Cafe', 'nan'}), items_add=frozenset({'Manteiga', 'Pao'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'Manteiga', 'Pao'}), items_add=frozenset({'Cafe', 'nan'}), confidence=0.7499999999999999, lift=2.4999999999999996), OrderedStatistic(items_base=frozenset({'Cafe', 'Manteiga', 'Pao'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'Cafe', 'Manteiga', 'nan'}), items_add=frozenset({'Pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'Cafe', 'Pao', 'nan'}), items_add=frozenset({'Manteiga'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'Manteiga', 'Pao', 'nan'}), items_add=frozenset({'Cafe'}), confidence=0.7499999999999999, lift=2.4999999999999996)])]

In [12]:
print(saida[0])

RelationRecord(items=frozenset({'nan'}), support=1.0, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0)])

In [13]:
print(saida[1])

RelationRecord(items=frozenset({'Cafe', 'Manteiga'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cafe'}), items_add=frozenset({'Manteiga'}), confidence=1.0, lift=2.0)])

In [14]:
print(saida[2])

RelationRecord(items=frozenset({'Cafe', 'Pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cafe'}), items_add=frozenset({'Pao'}), confidence=1.0, lift=2.0)])

**Para facilitar a visualização, veja como transformar isso em um dataframe** 

Extraído de:

https://www.section.io/engineering-education/apriori-algorithm-in-python/

https://splunktool.com/understanding-apyoris-output

In [15]:
Antecedente = []
Consequente = []
suporte = []
confianca = []
lift = []

for resultado in saida:
  s = resultado[1]
  result_rules = resultado[2]
  for result_rule in result_rules:
    a = list(result_rule[0])
    b = list(result_rule[1])
    c = result_rule[2]
    l = result_rule[3]
    if 'nan' in a or 'nan' in b: continue
    if len(a) == 0 or len(b) == 0: continue
    Antecedente.append(a)
    Consequente.append(b)
    suporte.append(s)
    confianca.append(c)
    lift.append(l)
    RegrasFinais = pd.DataFrame({'Antecedente': Antecedente, 'Consequente': Consequente, 'suporte': suporte, 'confianca': confianca, 'lift': lift})

In [16]:
RegrasFinais

        Antecedente      Consequente  suporte  confianca  lift
0            [Cafe]       [Manteiga]      0.3       1.00   2.0
1            [Cafe]            [Pao]      0.3       1.00   2.0
2        [Manteiga]            [Pao]      0.4       0.80   1.6
3             [Pao]       [Manteiga]      0.4       0.80   1.6
4            [Cafe]  [Manteiga, Pao]      0.3       1.00   2.5
5  [Cafe, Manteiga]            [Pao]      0.3       1.00   2.0
6       [Cafe, Pao]       [Manteiga]      0.3       1.00   2.0
7   [Manteiga, Pao]           [Cafe]      0.3       0.75   2.5

**Podemos ordenar estas regras por uma métrica desejada**

In [17]:
RegrasFinais.sort_values(by='lift', ascending =False)

        Antecedente      Consequente  suporte  confianca  lift
4            [Cafe]  [Manteiga, Pao]      0.3       1.00   2.5
7   [Manteiga, Pao]           [Cafe]      0.3       0.75   2.5
0            [Cafe]       [Manteiga]      0.3       1.00   2.0
1            [Cafe]            [Pao]      0.3       1.00   2.0
5  [Cafe, Manteiga]            [Pao]      0.3       1.00   2.0
6       [Cafe, Pao]       [Manteiga]      0.3       1.00   2.0
2        [Manteiga]            [Pao]      0.4       0.80   1.6
3             [Pao]       [Manteiga]      0.4       0.80   1.6

In [18]:
for resultado in saida:
    items = ', '.join([str(item) for item in resultado.items])
    print(f"Itemset: {{{items}}}")
    print(f"Suporte: {resultado.support}\n")

Itemset: {nan}
Suporte: 1.0

Itemset: {Cafe, Manteiga}
Suporte: 0.3

Itemset: {Cafe, Pao}
Suporte: 0.3

Itemset: {Cafe, nan}
Suporte: 0.3

Itemset: {Manteiga, Pao}
Suporte: 0.4

Itemset: {Manteiga, nan}
Suporte: 0.5

Itemset: {Pao, nan}
Suporte: 0.5

Itemset: {Cafe, Manteiga, Pao}
Suporte: 0.3

Itemset: {Cafe, Manteiga, nan}
Suporte: 0.3

Itemset: {Cafe, Pao, nan}
Suporte: 0.3

Itemset: {Manteiga, Pao, nan}
Suporte: 0.4

Itemset: {Cafe, Manteiga, Pao, nan}
Suporte: 0.3